.box {
  display: inline-block;
  width: 25%;
  height: 300px;
  text-align: center;
  border: 1px solid #fff;
}

.small-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #fff;
}
